body {margin: 0; font-family: 'Roboto', 'Noto Sans KR', Arial, sans-serif; font-weight: 400; line-height: 1.8; color: #788487; text-align: left; background-color: #fff;}

#youTubePlayer {position:relative;width:100%;}
#youTubePlayer iframe {position:absolute;width:100%;height:100%;}

#loading {background-color:rgba(255, 255, 255, 0.3); width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99}
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #5af; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.mapviewer {
      width: 100%;
		  height: 450px;
		  overflow: hidden;
}

.mapviewerIn {
      width: 100%;
		  height: 400px;
		  overflow: hidden;
}


#slider { width:100%; margin:0 auto; }

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-outline-brand {
    color: #505cfd;
    background-color:#f8f9fa;
    background-image: none;
    border-color: #505cfd;
}

.btn-outline-brand:hover {
    color: #fff;
    background-color: #505cfd;
    border-color: #505cfd;
}

.btn-outline-brand:focus,
.btn-outline-brand.focus {
    box-shadow: 0 0 0 .2rem rgba(80, 92, 253, .5);
}

.btn.btn-circle {border-radius: 1.875rem;}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #23272b;
}

.btn-dark:focus,
.btn-dark.focus {
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}

.btn-dark.disabled,
.btn-dark:disabled {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:not([disabled]):not(.disabled):active,
.btn-dark:not([disabled]):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}


.btn-block {display: block; width: 100%;}

.btn-block + .btn-block {margin-top: .5rem;}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}
.form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
    padding: .6875rem .875rem;
}

.form-control-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
    padding: 1.25rem .875rem;
}

.btn {
    display: inline-block; margin-bottom:4px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 2px solid transparent;
    padding: 1rem 1.875rem;
    line-height: 1.5;
    border-radius: .1875rem;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.btn:focus,
.btn.focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn .btn-icon-left {
    margin-right: 4px;
}

.btn .btn-icon-right {
    margin-left: 4px;
}